<section class="counter">
  <header>
    <h3>CounterApp</h3>
  </header>
  <div class="actions">
    <button class="btn" (click)="decrement()">
      <img src="assets/decrement.svg" alt="" />
    </button>
    <button class="btn" (click)="reset()">
      <img src="assets/reset.svg" alt="" />
    </button>
    <button class="btn" (click)="increment()">
      <img src="assets/increment.svg" alt="" />
    </button>
  </div>

  <div class="count-container">
    <h1
      class="count"
      [ngClass]="{
        white: ((counter$ | async)?.count ?? 0) < 10,
        gold: ((counter$ | async)?.count ?? 0) >= 10 && ((counter$ | async)?.count ?? 0) <= 20,
        green: ((counter$ | async)?.count ?? 0) > 20
      }"
    >
      {{ (counter$ | async)?.count }}
    </h1>
  </div>

  <div class="interval-input-container">
    <input
      class="interval-input"
      type="number"
      name="interval"
      id="interval"
      placeholder="Interval"
      [(ngModel)]="interval"
      (change)="setCountInterval()"
    />
  </div>

  <div class="presets-container">
    <div class="presets-label">
      <p>Interval Presets</p>
      <!-- <p>total: {{ presets.length }}</p> -->
    </div>

    <div class="presets">
      @for(preset of presets; track preset) {
      <button class="preset" (click)="setPreset(preset)">{{ preset }}</button>
      }
    </div>
  </div>
</section>
