/* You can add global styles to this file, and also import other style files */
// Colors 
$clr-black: #050505
$clr-bg: #070707
$clr-dark-gray: #222423
$clr-light-gray: #2C2F2E
$clr-very-light-gray: #0F1311
$clr-white: #FEFEFE
$clr-accent: #222423
$clr-text-gray: #969696
$light-green: #27C499
$light-red: #C53E48
$light-gold: #E7A849


$fs-lg: 70px

html 
    margin: 0
    padding: 0
    box-sizing: border-box
    height: 100vh
    width: 100vw
    overflow: hidden

body
    font-family: "Poppins", sans-serif
    letter-spacing: -.5px
    background: $clr-bg
    color: $clr-white
